
  <div class="assets">
    <div id="body">
      <div class="form-group">
        <label>Query All Land Registrations</label>
        <p><input id="queryAllTuna" type="submit" value="Query" class="btn btn-primary" ng-click="queryAllTuna()"></p>
      </div>

      <table id="all_tuna" class="table" align="center">

        <tr>
          <th>Land Id</th>
          <th>Timestamp</th>
          <th>Owner</th>
          <th>Land Location <br>(Longitude, Latitude)</th>
          <th>Place</th>
        </tr>

        <tr ng-repeat="tuna in all_tuna">
          <td>{{tuna.Key}}</td>
          <td>{{tuna.timestamp}}</td>
          <td>{{tuna.holder}}</td>
          <td>{{tuna.location}}</td>
          <td>{{tuna.vessel}}</td>
        </tr>
      </table>


      <div class="form-group">
        <label>Your Land Registrations</label>
      </div>

      <table id="all_tuna" class="table" align="center">

        <tr>
          <th>Land Id</th>
          <th>Timestamp</th>
          <th>Owner</th>
          <th>Land Location <br>(Longitude, Latitude)</th>
          <th>Place</th>
        </tr>

        <tr ng-repeat="tuna in all_private_tuna">
          <td>{{tuna.Key}}</td>
          <td>{{tuna.Record.timestamp}}</td>
          <td>{{tuna.Record.holder}}</td>
          <td>{{tuna.Record.location}}</td>
          <td>{{tuna.Record.vessel}}</td>
        </tr>
      </table>

      <div class="form-group">
        <label>Register Your Land</label>
        <h5 style="color:green;margin-bottom:2%" id="success_create">Success! Tx ID: {{create_tuna}}</h5>
        <br>
        Enter the land id: <input class="form-control" type="text" placeholder="Ex: 11" ng-model="tuna.id">
        Enter name of the place: <input class="form-control" type="text" placeholder="Ex: qatar" ng-model="tuna.vessel">
        Enter longitude: <input id="createName" class="form-control" type="text" placeholder="Ex: 28.012" ng-model="tuna.longitude">
        Enter latitude: <input id="createName" class="form-control" type="text" placeholder="Ex: 150.405" ng-model="tuna.latitude">
        Enter timestamp: <input class="form-control" type="text" placeholder="Ex: 4982342301" ng-model="tuna.timestamp">
        Enter name of owner: <input class="form-control" type="text" placeholder="Ex: john" ng-model="tuna.holder">
        <input id="createSubmit" type="submit" value="Create" class="btn btn-primary" ng-click="recordTuna()">
      </div>

      <div class="form-group">
        <label>Handover Your Land</label><br>
        <h5 style="color:green;margin-bottom:2%" id="success_holder">Success! Tx ID: {{change_holder}}</h5>
        <h5 style="color:red;margin-bottom:2%" id="error_holder">Error: Please enter a valid Tuna Id</h5>
        Enter the land id you want to transfer : <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="holder.id">
        Enter name of the person you want to transfer to: <input class="form-control" name="assetSelect" placeholder="Ex: Barry" ng-model="holder.name">
        <input id="transferSubmit" type="submit" value="Change" class="btn btn-primary" ng-click="changeHolder()">
      </div>

    </div>
  </div>
